* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    text-align: center;
}

#name {
    margin: 1.25rem 0 0.375rem 0;
}

#personal-website {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 200;
}

a:hover, #personal-website:hover {
    text-decoration: underline;
}

#email-btn {
    width: 100%;
}

#occupation {
    color: #F3BF99;
    margin: 0;
}