* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    text-align: center;
}

